@import "tailwindcss";
/* file: index.css hoặc globals.css */
@layer utilities {
  .main-container {
    @apply w-full max-w-[1410px] mx-auto px-4 sm:px-6 lg:px-10;
  }
}
html, body, #root {
  height: auto !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

